/*!
 * Laboratório de Sistemas de Sistemas de Informacao e Interatividade da ESTIG - IPBeja
 */


body {
  padding-top: 10em;
  font-family: 'Open Sans', sans-serif !important;
}

h2 {
  font-size: 1.3em !important;
  color: white !important;
    border-bottom: 2px solid rgba(170, 32, 41, 0.65);
    border-right: 2px solid rgba(170, 32, 41, 0.65);
    background: rgba(224, 140, 140, 0.98);
    width: 100% !important;
    padding: 3px;
    margin-bottom: 1px !important;
  margin-top: 3px !important;
}

footer {
	padding-bottom: 1em;
  padding-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

 /*class*/

.header-view{
overflow: auto;
}
.header-view p{
  padding-bottom: 2px;
}
.navbar-brand{
  height: 5em !important;
}

.navbar-nav {
  line-height: 5em !important;
}

.navbar-nav>li>a {
  padding-top: 2em;
}

.navbar-nav {
	text-align: right;
	padding-top: 1.5em;
}

.translate-btn {
  line-height: initial;
  -webkit-line-height: normal;
  margin-top: 1em;
}

 /*id*/

 #main-logo{
	max-height: 100%;
 }
