/*!
 * Laboratório de Sistemas de Sistemas de Informacao e Interatividade da ESTIG - IPBeja
 */


body {
  padding-top: 10em;
  font-family: 'Open Sans', sans-serif !important;
}

h2 {
    background-color: rgba(170, 32, 41, 0.65);
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
  border: 2px solid rgb(170, 32, 41);
    width: 100%;
    padding: 6px;
    margin-bottom: 100px;
    display: inline;
  color: azure !important;
}

footer {
	padding-bottom: 1em;
  padding-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

 /*class*/

.navbar-brand{
  height: 5em !important;
}

.navbar-nav {
  line-height: 5em !important;
}

.navbar-nav>li>a {
  padding-top: 2em;
}

.navbar-nav {
	text-align: right;
	padding-top: 1.5em;
}

.translate-btn {
  line-height: initial;
  margin-top: 1em;
}

 /*id*/

 #main-logo{
	max-height: 100%;
 }
