/*!
 * Laboratório de Sistemas de Sistemas de Informacao e Interatividade da ESTIG - IPBeja
 */


body {
  font-family: 'Open Sans', sans-serif !important;
}

hr {
  border-color: #888 !important;
  background-color: #ccc !important;
  color: #ccc !important;
}

footer {
	padding-bottom: 1em;
  padding-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

 /*class*/

 .container>.banner {
  color: white;
    height: 14em;
    border: 0px !important;
    background-color: rgb(176, 36, 44);
 }

 .img-profile {
    height: 14em;
 }

 /*id*/

 #main-logo{
	max-height: 100%;
 }